venv/
*.csv
__pycache__/
processed_ip_data/
inference_results/
*.pkl
__init__.py
models/
testingntrials/
*.xlsx
results/
# Ignore ALL data
data/

# Ignore models
models/

# Ignore reports
reports/

# Ignore CSV files anywhere
*.csv

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
